<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.png" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Thawan Fidelis</a></h1>
            <p>Web developer </p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                <li><a href="{{ site.baseurl }}/about">About</a></li>
                <!-- <li><a href="{{ site.baseurl }}/contact">Contact</a></li> -->
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li>
                    <a href="http://twitter.com/thawan_fidelis" class="icon fa-twitter" target="_blank">
                        <span class="label">Twitter</span>
                    </a>
                </li>
                <li>
                    <a href="http://www.facebook.com/thawan.fidelis" class="icon fa-facebook" target="_blank">
                        <span class="label">Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="http://www.instagram.com/thawanfidelis" class="icon fa-instagram" target="_blank">
                        <span class="label">Instagram</span>
                    </a>
                </li>
                <li>
                    <a href="http://github.com/ThawanFidelis" class="icon fa-github" target="_blank">
                        <span class="label">Github</span>
                    </a>
                </li>
                <li>
                    <a href="http://br.linkedin.com/in/thawanfidelis" class="icon fa-linkedin" target="_blank">
                        <span class="label">Linkedin</span>
                    </a>
                </li>
                <li>
                    <a href="mailto:thawan@gmail.com" class="icon fa-envelope">
                        <span class="label">Email</span>
                    </a>
                </li>
            </ul>
        </footer>
    </section>

